{% if monthlyExpenditures is defined %}
	{% set totalPrice = 0 %}
	{% set totalPaid = 0 %}
	<table class="table table-centered">
		<thead>
			<tr>
				<th>Title</th>
				<th>Price</th>
				<th>Amount Paid</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			{% for expenditure in monthlyExpenditures %}
			
				{% set totalPrice = totalPrice + expenditure.price %}
				{% set totalPaid = totalPaid + expenditure.amountPaid %}

				<tr data-id="{{ expenditure.id }}" class="{{ expenditure.price == expenditure.amountPaid? 'expenditure-paid':(expenditure.amountPaid > 0? 'expenditure-partial-paid':'') }}">

					<td width="35%">{{ expenditure.title }}</td>
					<td class="price">{{ CURRENCY ~ expenditure.price | number_format(2, '.', ',') }}</td>
					<td class="">{{ CURRENCY ~ expenditure.amountPaid | number_format(2, '.', ',') }}</td>
					<td width="20%">
						{% if expenditure.amountPaid < expenditure.price and showActions is defined and showActions %}
							<a href="{{ app.request.uri }}" onclick="return registerPaid({{ expenditure.header.id }}, {{ expenditure.id }}, '{{ expenditure.price }}')" class="paid--record">Paid</a>
							&nbsp;|&nbsp;
							<a href="{{ app.request.uri }}" onclick="return registerPartPaid({{ expenditure.header.id }}, {{ expenditure.id }})" class="partial-paid--record">Partial Paid</a>
						{% endif %}
					</td>
					<td>
                        {% if showActions is defined and showActions %}
                            <a href="{{ app.request.uri }}" onclick="return deleteExpenditure({{ expenditure.header.id }}, {{ expenditure.id }})" class="delete--record"><i class="icon-trash"></i> Delete</a>
                            &nbsp;&nbsp;
                            <a href="{{ app.request.uri }}#inputPrice" data-title="{{ expenditure.title }}" data-id="{{ expenditure.id }}" data-price="{{ expenditure.price }}" onclick="return editExpenditure(this) " class="edit--record">
                            <i class="icon-pencil"></i>Edit
                            </a>
                        {% endif %}
				    </td>
				</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<td><span class="pull-right"><strong>Total</strong></span></td>
				<td class="price">
				    <span id="total-price">{{ CURRENCY ~ totalPrice | number_format(2, '.', ',') }}</span>
				    <span class="pull-right"><strong>Total</strong></span></td>
				<td>
				    <span id="total-paid">{{ CURRENCY ~ totalPaid | number_format(2, '.', ',') }}</span>
				</td>
				<td></td>
				<td></td>
			</tr>
		</tfoot>
	</table>
{% endif %}
