<!DOCTYPE html>
<html lang="en">
  <head>
    {{ include('PsamattPecuniaApplicationUIWebSharedBundle::header.html.twig') }}

    {% javascripts
            '@PsamattPecuniaApplicationUIWebSharedBundle/Resources/public/js/jquery.min.js'
            '@PsamattPecuniaApplicationUIWebSharedBundle/Resources/public/js/bootstrap.min.js'
            '@PsamattPecuniaApplicationUIWebSharedBundle/Resources/public/js/bootstrap-dropdown.min.js'
            '@PsamattPecuniaApplicationUIWebSharedBundle/Resources/public/js/*'
         %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

  </head>

  <body class="in-app">

	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
                <span class="brand">
                    <img src="{{ asset('bundles/psamattexpenditure/img/piggybank.png') }}" alt="Expenditure" />&nbsp;
				    <a href="{{ path('accountHolder_homepage') }}">Expenditure</a>
				</span>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li {{ app.request.pathInfo == path('accountHolder_homepage')? 'class="active"' : '' }}><a href="{{ path('accountHolder_homepage') }}">Overview</a></li>
						<li {{ app.request.pathInfo == path('accountHolder_historic')? 'class="active"' : '' }}><a href="{{ path('accountHolder_historic') }}">Historic months</a></li>
						<li {{ app.request.pathInfo == path('default_payments')? 'class="active"' : '' }}><a href="{{ path('default_payments') }}">Default payments</a></li>
				        <li {{ app.request.pathInfo == path('accountHolder_savings')? 'class="active"' : '' }}><a href="{{ path('accountHolder_savings') }}">Savings</a></li>
					</ul>
				</div>

				{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    				<ul class="nav pull-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown-menu">{{ app.security.token.user.id | accountNameFromId }}<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('logout') }}">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                {% endif %}
			</div>
		</div>
	</div>

    <div class="container">

        {% if app.session.flashbag.has('notice') %}
            <div class="alert alert-info">
                <ul class="nav nav-list">
                    {% for notice in app.session.flashbag.get('notice') %}
                        <li>{{ notice}}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if app.session.flashbag.has('error') %}
            <div class="alert alert-danger">
                <ul class="nav nav-list">
                    {% for notice in app.session.flashbag.get('error') %}
                        <li>{{ notice }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

    	{% block content %}
    	{% endblock %}

		<hr />
		<footer>
			<p>&copy; All rights reserved</p>
		</footer>
	</div>

    {% block javascript %}

        <script type="text/javascript">
            $('.dropdown-toggle').dropdown();
        </script>

        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    {% endblock %}
  </body>
</html>
