{% extends 'skeleton/base.html.twig' %}

{% block content %}
<span class="pull-left"><a href="{{ path('admin_historic') }}" class="btn btn-info"><i class="icon-arrow-left"></i> Back to overview</a></span>

<div class="hero-unit">


	{% set calendarDate = monthHeader.__get('calendar_date') %}
	<h1>{{ calendarDate.format('F Y') }}</h1>
	<p class="">
		<span class="text-success" id="amountSalary">£{{ monthHeader.__get('month_income')  | number_format(2, '.', ',') }} -
		<span class="text-error" id="amountPaid">£{{ totalPaid | number_format(2, '.', ',') }}</span> =
		<span class="text-info" id="amountLeft">£{{ (monthHeader.__get('month_income') - totalPaid) | number_format(2, '.', ',') }}</span>
	</p>
</div>

{% include 'historic/monthly_expenditure.html.twig' %}

{% endblock %}
