{% extends 'base.html.twig' %}

{% block content %}

	{% if monthHeaders is defined and monthHeaders | length > 0 %}
        {% set totalIncome = 0 %}
        <p class="text-info">Displaying {{ monthHeaders | length }} expenditure month{{ monthHeaders | length == 1? '':'s'}}</p>

		<table class="table table-centered">
			<thead>
				<tr>
					<th>Month</th>
					<th>Salary</th>
				</tr>
			</thead>
			<tbody>
				{% for monthHeader in monthHeaders %}
				    {% set totalIncome = totalIncome + monthHeader.__get('month_income') %}
					<tr data-id="{{ monthHeader.id }}">
						{% set calendarDate = monthHeader.__get('calendar_date') %}
						<td><a href="/month/historic/{{ calendarDate | date('Y') }}/{{ calendarDate | date('n') }}">{{ calendarDate | date('F Y') }}</a></td>
						<td class="price">{{ CURRENCY ~ monthHeader.__get('month_income') | number_format(2, '.', ',') }}</td>
					</tr>
				{% endfor %}
			</tbody>
			<tfoot>
                <tr>
                    <td><span class="pull-right"><strong>Total</strong></span></td>
                    <td class="">{{ CURRENCY ~ totalIncome | number_format(2, '.', ',') }}</td>
                </tr>
			</tfoot>
		</table>
	{% else %}
		<p class="text-error">No month headers have been found</p>
	{% endif%}
{% endblock %}
