<div id="{{ lightboxID }}" class="modal hide fade in">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>{{ lightboxTitle }}</h3>
    </div>
    <div class="modal-body"></div>
</div>

<script type="text/javascript">
    $("a[data-target=#{{ lightboxID }}]").click(function(ev) {
        ev.preventDefault();
        var target = $(this).attr("href");
    
        // load the url and show modal on success
        $("#{{ lightboxID }} .modal-body").load(target, function() { 
            $("#{{ lightboxID }}").modal("show"); 
        });
    });
</script>