<p class="text-info">Fill out fields below to add a reoccuring monthly payment</p>
<form method="post" action="{{ path('default_recurring_payments_save') }}" class="form-horizontal" name="expenditureForm">
    <div class="control-group">
        <label class="control-label" for="inputTitle">Description</label>
        <div class="controls">
            <input type="text" id="inputTitle" name="description" placeholder="Description goes here.." />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputPrice">Price</label>
        <div class="controls">
            <div class="input-prepend">
                <span class="add-on">{{ currency | currencyToSymbol }}</span>
                <input type="hidden" name="currency" value="{{ currency }}"/>
                <input type="number" pattern="[0-9]+([,\.][0-9]+)?" step="0.01" min="0" id="inputPrice" name="price" placeholder="Price.." {% if defaultObj is defined %}value="{{ defaultObj.price }}"{% endif %} />
            </div>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn">Add</button>
        </div>
    </div>
</form>

{% if allDefaultRecurringExpenditures | length > 0 %}
    {% set total = 0 %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Price</th>
                <th width="20%">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for monthlyTemplate in allDefaultRecurringExpenditures %}
                {% set total = total + monthlyTemplate.price.amount %}
                <tr>
                    <td>{{ monthlyTemplate.description }}</td>
                    <td>{{ monthlyTemplate.price.currency | currencyToSymbol ~ monthlyTemplate.price.amount | number_format(2, '.', ',') }}</td>
                    <td>
                        <a href="{{ path('default_recurring_payments_delete', {'defaultId': monthlyTemplate.id}) }}" onclick="return confirm('Are you sure you want to delete this record?')" id="default_{{ monthlyTemplate.id }}_delete"><i class="icon-trash"></i> Delete</a></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td><span class="pull-right"><strong>Total</strong></span></td>
                <td>{{ (currency  | currencyToSymbol) ~ total | number_format(2, '.', ',')}}</td>
                <td></td>
            </tr>
        </tfoot>
    </table>
{% else %}
   <p class="text-error">No default payments have been found</p>
{% endif %}